Source: nightly
Section: web
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Homepage: https://github.com/Vitexus/FirefoxNightlyDeb
Build-Depends: inkscape
Standards-Version: 4.3.0

Package: firefox-nightly
Architecture: all
Depends: libc6, libgcc1, libstdc++6 ,wget
Provides: gnome-www-browser, www-browser, x-www-browser
Description: Mozilla Nightly web browser installer
 Firefox Nihtly is a powerful, extensible web browser with support for modern
 web application technologies.
