Source: nightly
Section: web
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Homepage: https://www.mozilla.org/cs/firefox/channel/desktop/
Standards-Version: 3.9.2

Package: nightly
Architecture: all
Depends: libasound2, libc6, libfontconfig1, libfreetype6, libgcc1, libgdk-pixbuf2.0-0, libglib2.0-0, libgtk-3-0, libhunspell-1.4-0, libnspr4, libnss3, libpango-1.0-0, libsqlite3-0, libstartup-notification0, libstdc++6, libx11-6, libxcomposite1, libxdamage1, libxext6, libxfixes3, libxrender1, libxt6, zlib1g, fontconfig, procps, debianutils,wget
Recommends: gstreamer1.0-libav, gstreamer1.0-plugins-good
Suggests: fonts-stix | otf-stix, fonts-lmodern, mozplugger, libgssapi-krb5-2 | libkrb53, libgnomeui-0, libcanberra0
Conflicts: iceweasel (<< 45), j2re1.4, pango-graphite (<< 0.9.3)
Breaks: xul-ext-torbutton
Provides: gnome-www-browser, www-browser, x-www-browser
Description: Mozilla Nightly web browser - next generation
 Firefox Nihtly is a powerful, extensible web browser with support for modern
 web application technologies.
